/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$headerht : 60px;
$logo-dark : #5f6062;
$logo-yellow : #fec40d;
$use-dark : #3e3831;
$use-mid : #635B51;

@mixin full-width($break) {
	@media all and (max-width : $break){
		width: 100%;
	}
}

html{
	font-size: 12px;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;	
}
body{
  font-family: "Oswald", sans-serif;
  padding-bottom: 60px;
}

.fa-times{
	background-color: $logo-yellow!important;
	border: none!important;
	span{
		background-color: inherit!important;
	}
	&.open{
		color: $logo-dark!important;
	}
}

*{
	@include box-sizing(border-box);
}
::-moz-selection { 
	background: $logo-yellow;
	color: $logo-dark; 
}
::selection { 
	background: $logo-yellow;
	color: $logo-dark; 
}
/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none;
}
.full-width{
	width: 100%;
}
.navbar-default {
 background-color: #fff; 
 border-color: #fff; 
}
.navbar {
 margin-bottom: 0; 
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
margin-top: 10px;
}
.nav>li>a.btn:hover{
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}
.modal-content {
  border-radius: 0;
}
.modal-add{
	color: $logo-yellow;
	cursor: pointer;
	font-size: 18px;
	left: 0;
	letter-spacing: 1px;
	line-height: 48px;
	padding: 0 7.5px;
	position: absolute;
	top: 0;
	&:hover{
		color: #fff;
	}
}


button{
  border-radius: 0 !important;
}

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.alt-red-hover{
	&:hover{
		@include transition(background-color 0.25s);
		background-color: $logo-yellow!important;
	}
}
/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Blog posts
 */

.logos{
	background-color: #696969;
	text-align: center;
	a{
		display: inline-block;
		opacity: 0.75;
		padding: 10px;
		@include transition( opacity 0.25s );
		vertical-align: middle;
		&:hover{
			opacity: 1;
			@include transition( opacity 0.25s );
		}
		img{
			max-height: 35px;
		}
	}
}

header{
	background-color: #ECECEC;
	border-bottom: 2px solid $logo-yellow;
	text-align: right;
	.logo{
		background: url(../hrwlogoup.png) left center no-repeat;
		background-size: contain;
		display: inline-block;
		height: 50px;
		margin: 5px 0;
		vertical-align: top;
		width: 40%;
		@media all and (max-width : 750px){
			background: url(../hrwlogoup.png) center center no-repeat;
			background-size: contain;
			width: 100%;
		}
	}
	button{
		background-color: $logo-dark;
		color: $logo-yellow;
		display: inline-block;
		font-size: 1.5rem!important;
		height: $headerht;
		margin-left: -3px;
		outline: none;
		@include transition( font-size 0.25s, background-color 0.5s );
		vertical-align: top;
		width: $headerht;
		&:hover, &:focus{
			background-color: #515254;
			color: $logo-yellow!important;
			font-size: 2rem!important;
			outline: none;
			@include transition( font-size 0.25s, background-color 0.5s );
		}
	}
	nav{
		display: inline-block;
		vertical-align: top;
		width: 55%;
		@media all and (max-width : 750px){
			width: 100%;
		}
	}
	.nav-search{
		display: inline-block;
		height: $headerht;
		vertical-align: top;
		width: 80%;
		label{
			background-color: #ddd;
			cursor: pointer;
			display: inline-block;
			font-size: 1.5rem!important;
			height: $headerht;
			line-height: $headerht;
			margin-right: -4px;
			text-align: center;
			@include transition( font-size 0.25s, background-color 0.5s );				
			vertical-align: top;
			width: 60px;
			&:hover{
				background-color: #ccc;
				font-size: 2rem!important;
				@include transition( font-size 0.25s, background-color 0.5s );
				+ input{
					background-color: #ccc;
					@include transition( background-color 0.5s );
				}				
			}
		}
		input{
			background-color: #ddd;
			border: none;
			display: inline-block;
			height: $headerht;
			margin-bottom: 2px;
			outline: none;
			@include transition( width 0.5s );
			width: 0%;
			&:focus{
				padding: 10px;
				@include transition( width 0.5s );
				width: 80%;
			}
		}
	}
}

.form-group{
	label{
		font-size: 0.75rem;
	}
	.form-control{
		border-radius: 0!important;
		&:focus {
		  border-color: $logo-yellow;
		  outline: 0;
		  @include box-shadow(inset 0 1px 1px rgba($logo-yellow, 0.75),0 0 8px rgba($logo-yellow,.6));
		}
	}
}

.topz{
	.info-toggle{
		width: 100%!important;
		&:before{
			padding: 0 20px;
			margin-left: -40px;
		}
	}
}

.modal-header{
	background-color: $logo-dark;
	h3{
		color: $logo-yellow;
		text-align: center;
	}
}
.close{
	opacity: 0.9;
	outline: none;
	padding: 15px!important;
	@include text-shadow( none!important );
	i{
		color: $logo-yellow;
	}
}

article.main{

	border-top: 2px solid $use-dark;

	>aside{
		text-align: center;
		div{
			padding: 45px;
		}
		i{
			color: $logo-yellow;
		}
		span{
			color: $logo-dark;
		}
		span, i{
			display: inline-block;
			padding: 10px;
			text-transform: uppercase;
			vertical-align: middle;
		}
	}

	section{
		&:nth-child(even){
			@include background-image(linear-gradient(to right, rgba(#fff, 0.15), rgba(#fff, 0.25) 35%));
		}
		&:nth-child(odd){
			@include background-image(linear-gradient(to right, rgba(#aaa, 0.25), rgba(#aaa, 0.35) 35%));
		}

		border-bottom: 4px solid #D7D7D7;
		border-top: 2px solid $use-dark;
		text-align: center;
		&.pending{
  			background-color: #FFECEC;
		}
		&.complete{
			background-color: #EEFFF1;
			opacity: 0.85;
			position: relative;
			&:hover{
				background-color: #CCFFD6;
				opacity: 0.95;
			}
		}

		.btn-group{
			position: absolute;
			left: 0;
			bottom: 5px;
			padding: 0 3%;
			@include full-width(575px);
			width: 35%!important;
			button, a{
				border: 0 !important;
				border-radius: 100%!important;
				display: inline-block;
				float: none!important;
				font-size: 1rem;
				height: 2.5rem;
				line-height: 2.5rem;
				margin-bottom: 5px;
				outline: none!important;
				overflow: visible;
				padding: 0!important;
				position: relative;
				width: 2.5rem;
				z-index: 100;
				// @include full-width(575px);}
				@include transition(all 0.25s);
				&:not(:hover){
					background-color: transparent;
					border: 1px solid $logo-dark!important;
					color: $logo-dark;
				}
				span{
					background-color: rgba(#fff, 0);
					border-radius: 100%;
					color: transparent;
					display: block;
					@include transition(all 0.25s);
					left: 50%;					
					opacity: 0;
					position: absolute;
					top: 100%;
					width: 0px;
				}
				&:hover{
					border-radius: 0!important;
					@include transition(all 0.25s);
					span{
						background-color: inherit;
						border-radius: 0;
						color: #fff;
						opacity: 1;
						padding: 10px;
						@include transition(opacity 0.25s, margin-left 0.25s, width 0.25s);
						margin-left: -62.5px;
						width: 125px;
					}
				}
			}
		}

		.site-info{
			position: relative;
			width: 100%;
			.nd{
				padding: 10px 3% 3rem;
				min-height: 7.5rem;
				text-align: right;
				vertical-align: middle;
				width: 35%;
				@include full-width(575px);
				@media all and (max-width : 575px){
					padding: 20px 3%;
					text-align: center;
				}
				div{
					width: 100%;
				}
				.client{
					font-size: 1.5rem;
					letter-spacing: 2.5px;
					text-transform: uppercase;
				}
				.date{
					color: #696969;
					font-size: 0.6rem;
					font-weight: 300;
					letter-spacing: 2px;
				}
			}
			.site{
				// @include background-image(linear-gradient(to right, rgba($use-mid, 0.35), rgba($use-dark, 0.5) 35%));
				margin-left: -6px;
				vertical-align: middle;
				width: 65%;
				@include full-width(575px);
				a{
					// @include background-image(linear-gradient(to right, rgba($logo-yellow, 0.5), $logo-yellow 25%,$logo-yellow 75%, rgba($logo-yellow, 0.5)));
					color: #3C3E41;
					display: block;
					font-family: 'Open Sans';
					letter-spacing: 5px;
					padding: 10px;
					@include transition( background-color 0.5s );
					width: 100%;
					&:hover, &:focus{
						color: $logo-dark;
						@include background-image(linear-gradient(to right, rgba($logo-yellow, 0.85), $logo-yellow 25%,$logo-yellow 75%, rgba($logo-yellow, 0.85)));
						text-decoration: none;
						@include transition( background-color 0.5s );
					}
				}
			}
			div{
				display: inline-block;
			}
		}

		.assign-info{
			padding: 1rem 0;
			width: 100%;
			div{
				display: inline-block;
				padding: 10px;
				width: 45%;
				h5{
					color: darken($logo-yellow, 50%);
					font-size: 0.75rem;
					letter-spacing: 5px;
					margin-bottom: 7.5px;
					text-transform: uppercase;
				}
				span{
					color: $logo-dark;
					display: inline-block;
					font-family: 'Open Sans';
					font-size: 1.5rem;
					letter-spacing: 1px;
				}
			}
		}

		article{
			width: 100%;
			h4{
				@include background-image(linear-gradient(to right, rgba($use-dark, 0.75), $use-dark 35%,$use-dark 65%, rgba($use-dark, 0.75)));
				color: #fff;
				cursor: pointer;
				font-size: 0.75rem;
				letter-spacing: 10px;
				line-height: 2;				
				padding: 10px;
				text-transform: uppercase;
				@include transition( background-image 1s );
				width: 100%;
				&:hover{
					@include transition( background-image 1s );
					@include background-image(linear-gradient(to right, rgba($use-dark, 0.75), $use-dark 15%,$use-dark 85%, rgba($use-dark, 0.75)));
				}
			}
			.open{
				background-color: #D6D6D6;				
				color: $logo-yellow;
			}
			.descript{
				border-bottom: 2px solid $logo-yellow;
				display: none;
				pre{
					background-color: #fff;
					font-family: 'Open Sans';
					margin: 0 12.5% 40px;
					padding: 40px;
				}
				aside{
					margin: 40px 12.5% 0;
					&.two{
						.button{
							width: 50%;
						}
					}
					&.three{
						.button{
							width: 33.333333%;
						}
					}
					&.four{
						.button{
							width: 25%;
						}
					}
				}
				div{
					&.button{
						display: inline-block;
						margin-left: -3px;
						vertical-align: middle;
						@media all and (max-width : 750px){
							width: 100%;
							&:not(:last-child){
								border-bottom: 1px solid $logo-yellow;
							}
						}						
					}
					a{
						background-color: rgba($logo-dark, 0.85);
						@include background-image(linear-gradient(to right, rgba($use-dark, 0.5), rgba($logo-dark, 0.75) 15%,rgba($logo-dark, 0.75) 85%, rgba($use-dark, 0.5)));
						background-size: cover;
						color: $logo-yellow;
						display: block;
						font-family: 'Open Sans';
						font-size: 1rem;
						letter-spacing: 2px;
						line-height: 2.5rem;
						text-decoration: none;
						text-transform: uppercase;
						@include transition( all 0.5s );
						width: 100%;
						&:hover{
							background-color: rgba($logo-dark, 0.95);
							font-size: 1.25rem;
							@include transition( all 0.5s );
						}
					}
				}
			}
		}

	}

}

.hidden{
	display: none;
}

.overlay{
	display: block;
	position: fixed!important;
	top: 0!important;
	bottom: 0!important;
	left: 0!important;
	right: 0!important;
	background-color: #fff!important;
	text-align: center!important;
	width: 100%!important;
	height: 100vh!important;
	z-index: 100!important;
	div{
		display: inline-block!important;
	}
	div[class^='circ'],div[class*=' circ']{
		border-radius: 100%;
		height: 4rem;
		position: fixed;
		width: 4rem;
		-webkit-animation-duration: 1s;
		    animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		    animation-fill-mode: both;
		-webkit-animation-iteration-count: infinite;
		    animation-iteration-count: infinite;
	}
	div.circ1{
		left: 5%;
		top: 5%;
		-webkit-animation-name: circone;
		        animation-name: circone;
	}
	div.circ2{
		right: 5%;
		top: 5%;
		-webkit-animation-name: circtwo;
		        animation-name: circtwo;
	}
	div.circ3{
		right: 5%;
		bottom: 5%;
		-webkit-animation-name: circthree;
		        animation-name: circthree;
	}
	div.circ4{
		left: 5%;
		bottom: 5%;
		-webkit-animation-name: circfour;
		        animation-name: circfour;
	}
	.loading{
		font-size: 6rem;
		text-transform: uppercase;		
		vertical-align: middle;
		width: 90%;
		-webkit-animation-duration: 1s;
		    animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		    animation-fill-mode: both;
		-webkit-animation-iteration-count: infinite;
		    animation-iteration-count: infinite;
		-webkit-animation-name: loader;
		        animation-name: loader;		
	}
	&:before{
		content: '';
		width: 0.1%;
		display: inline-block;
		vertical-align: middle;
		height: 100vh;
	}
}

/***************************
  Comments
***************************/
.comments{

}
.comments li{
	border-bottom: 1px solid #aaa;
	margin-bottom: 10px;
	padding: 5px 10px;
}
.comments li h3{
  font-size: 30px;
  text-transform: uppercase;
}
.comments li time{
  color: #828282;
  font-size: 10px;
  letter-spacing: 1px;
}
.comments li div{
  color: #000;
  font-family: 'Open Sans';
  font-size: 18px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
}


@-webkit-keyframes loader {
	0%{
		font-size: 6rem;
	}
	50%{
		font-size: 4rem;
	}
	100%{
		font-size: 6rem;
	}
}
@keyframes loader {
	0%{
		font-size: 6rem;
	}
	50%{
		font-size: 4rem;
	}
	100%{
		font-size: 6rem;
	}
}

@-webkit-keyframes circone {
	0%{
		background-color: #E1505A;
		opacity: 1;
	}
	14%{
		background-color: #F27735;
		opacity: 0.5;
	}
	28%{
		background-color: #FFEE00;
		opacity: 0.7;
	}
	42%{
		background-color: #00FF00;
		opacity: 0.1;
	}
	56%{
		background-color: #00A6FF;
		opacity: 1;
	}
	71%{
		background-color: #0D00FF;
		opacity: 0.5;
	}
	84%{
		background-color: #9900FF;
		opacity: 0.7;
	}
}
@keyframes circone {
	0%{
		background-color: #E1505A;
		opacity: 1;
	}
	14%{
		background-color: #F27735;
		opacity: 0.5;
	}
	28%{
		background-color: #FFEE00;
		opacity: 0.7;
	}
	42%{
		background-color: #00FF00;
		opacity: 0.1;
	}
	56%{
		background-color: #00A6FF;
		opacity: 1;
	}
	71%{
		background-color: #0D00FF;
		opacity: 0.5;
	}
	84%{
		background-color: #9900FF;
		opacity: 0.7;
	}
}

@-webkit-keyframes circtwo {
	0%{
		background-color: #FFEE00;
		opacity: 0.7;
	}
	14%{
		background-color: #00FF00;
		opacity: 0.1;
	}
	28%{
		background-color: #00A6FF;
		opacity: 1;
	}
	42%{
		background-color: #0D00FF;
		opacity: 0.5;
	}
	56%{
		background-color: #9900FF;
		opacity: 0.7;
	}
	71%{
		background-color: #E1505A;
		opacity: 1;
	}
	84%{
		background-color: #F27735;
		opacity: 0.5;
	}
}
@keyframes circtwo {
	0%{
		background-color: #FFEE00;
		opacity: 0.7;
	}
	14%{
		background-color: #00FF00;
		opacity: 0.1;
	}
	28%{
		background-color: #00A6FF;
		opacity: 1;
	}
	42%{
		background-color: #0D00FF;
		opacity: 0.5;
	}
	56%{
		background-color: #9900FF;
		opacity: 0.7;
	}
	71%{
		background-color: #E1505A;
		opacity: 1;
	}
	84%{
		background-color: #F27735;
		opacity: 0.5;
	}
}

@-webkit-keyframes circthree {
	0%{
		background-color: #00A6FF;
		opacity: 1;
	}
	14%{
		background-color: #0D00FF;
		opacity: 0.5;
	}
	28%{
		background-color: #9900FF;
		opacity: 0.7;
	}
	42%{
		background-color: #E1505A;
		opacity: 1;
	}
	56%{
		background-color: #F27735;
		opacity: 0.5;
	}
	71%{
		background-color: #FFEE00;
		opacity: 0.7;
	}
	85%{
		background-color: #00FF00;
		opacity: 0.1;
	}
}
@keyframes circthree {
	0%{
		background-color: #00A6FF;
		opacity: 1;
	}
	14%{
		background-color: #0D00FF;
		opacity: 0.5;
	}
	28%{
		background-color: #9900FF;
		opacity: 0.7;
	}
	42%{
		background-color: #E1505A;
		opacity: 1;
	}
	56%{
		background-color: #F27735;
		opacity: 0.5;
	}
	71%{
		background-color: #FFEE00;
		opacity: 0.7;
	}
	85%{
		background-color: #00FF00;
		opacity: 0.1;
	}
}

@-webkit-keyframes circfour {
	0%{
		background-color: #9900FF;
		opacity: 0.7;
	}
	14%{
		background-color: #E1505A;
		opacity: 1;
	}
	28%{
		background-color: #F27735;
		opacity: 0.5;
	}
	42%{
		background-color: #FFEE00;
		opacity: 0.7;
	}
	56%{
		background-color: #00FF00;
		opacity: 0.1;
	}
	71%{
		background-color: #00A6FF;
		opacity: 1;
	}
	84%{
		background-color: #0D00FF;
		opacity: 0.5;
	}
}
@keyframes circfour {
	0%{
		background-color: #9900FF;
		opacity: 0.7;
	}
	14%{
		background-color: #E1505A;
		opacity: 1;
	}
	28%{
		background-color: #F27735;
		opacity: 0.5;
	}
	42%{
		background-color: #FFEE00;
		opacity: 0.7;
	}
	56%{
		background-color: #00FF00;
		opacity: 0.1;
	}
	71%{
		background-color: #00A6FF;
		opacity: 1;
	}
	84%{
		background-color: #0D00FF;
		opacity: 0.5;
	}
}
