
    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">COMMENTS</h3>
    </div>

    <div class="modal-add" scroll="addComment" smoothscroll>ADD</div>

    <div class="modal-body">

    	<ul class="comments">
			<li ng-repeat="c in commentlist | orderBy:['-id']">
				<h3>{{c.commenter}}</h3>
				<time datetime="{{c.added}}">{{c.added  | dateToISO  | date:'medium'}}</time>
				<div>{{c.comment}}</div>
			</li>
		</ul>

        <form id="addComment" name="comment_form" class="form-horizontal" role="form" novalidate>

            <form-element label="COMMENTER" mod="thecomment">
                 <select name="commenter" class="form-control" placeholder="COMMENTER" ng-model="thecomment.commenter">
                    <option value="Alex">Alex</option>
                    <option value="Ashley">Ashley</option>
                    <option value="Brenda">Brenda</option>
                    <option value="David">David</option>
                    <option value="Derek">Derek</option>
                    <option value="Eric">Eric</option>
                    <option value="Isaac">Isaac</option>
                    <option value="Jeff">Jeff</option>
                    <option value="Mike">Mike</option>
                    <option value="Nancy">Nancy</option>
                    <option value="Rhan">Rhan</option>
                    <option value="Ryan">Ryan</option>
                    <option value="Sonny">Sonny</option>
                    <option value="Tim">Tim</option>
                </select>
            </form-element>

            <form-element label="COMMENT" mod="thecomment">
                <textarea class="form-control" name="comment" placeholder="COMMENT" ng-model="thecomment.comment">{{comment.comment}}</textarea>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <button ng-click="saveRequest(thecomment);"
                                ng-disabled="update_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>


    </div>