    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">{{popHead}} <span ng-hide="{{popHead === 'Add Update'}}">:: </span>{{comment.client_name}}<span ng-hide="{{popHead === 'Add Update'}}">-{{comment.id}}</span></h3>
    </div>
    <div class="modal-body">

        <form name="comment_form" class="form-horizontal" role="form" novalidate  ng-upload="uploadComplete(content)">

            <form-element label="COMMENTER" mod="comment">
                 <select name="commenter" class="form-control" placeholder="COMMENTER" ng-model="comment.commenter">
                    <option value="Alex">Alex</option>
                    <option value="Ashley">Ashley</option>
                    <option value="Brenda">Brenda</option>
                    <option value="David">David</option>
                    <option value="Derek">Derek</option>
                    <option value="Eric">Eric</option>
                    <option value="Isaac">Isaac</option>
                    <option value="Jeff">Jeff</option>
                    <option value="Mike">Mike</option>
                    <option value="Nancy">Nancy</option>
                    <option value="Rhan">Rhan</option>
                    <option value="Ryan">Ryan</option>
                    <option value="Sonny">Sonny</option>
                    <option value="Tim">Tim</option>
                </select>
            </form-element>

            <form-element label="COMMENT" mod="comment">
                <textarea class="form-control" name="comment" placeholder="COMMENT" ng-model="comment.comment">{{comment.comment}}</textarea>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveRequest(comment);"
                                ng-disabled="update_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

