    <button type="button" class="close" ng-click="cancel();">
        <i class="fa fa-times-circle-o"></i>
    </button>
    <div class="modal-header">
        <h3 class="modal-title">{{popHead}} <span ng-hide="{{popHead === 'Add Update'}}">:: </span>{{update.client_name}}<span ng-hide="{{popHead === 'Add Update'}}">-{{update.id}}</span></h3>
    </div>
    <div class="modal-body">

        <form name="update_form" class="form-horizontal" role="form" novalidate  ng-upload="uploadComplete(content)">

             <!-- ng-disabled="update.id" -->
            <form-element label="CLIENT NAME" mod="update">
                <input type="text" class="form-control" name="client_name" placeholder="CLIENT NAME" ng-model="update.client_name" />
            </form-element>

            <form-element label="CLIENT WEBSITE" mod="update">
                <input type="text" name="client_website" class="form-control" placeholder="CLIENT WEBSITE" ng-model="update.client_website"/>
            </form-element>

            <form-element label="REQUESTED BY" mod="update">
                 <select name="requested_by" class="form-control" placeholder="REQUESTED BY" ng-model="update.requested_by">
                    <option value="Alex">Alex</option>
                    <option value="Brenda">Brenda</option>
                    <option value="David">David</option>
                    <option value="Derek">Derek</option>
                    <option value="Eric">Eric</option>
                    <option value="Isaac" selected>Isaac</option>
                    <option value="Mike">Mike</option>
                    <option value="Ryan">Ryan</option>
                </select>
            </form-element>

            <form-element label="DESCRIPTION" mod="update">
                <textarea class="form-control" name="description" placeholder="DESCRIPTION" ng-model="update.description">{{update.description}}</textarea>
            </form-element>

            <form-element label="ASSIGNED" mod="update">
                <select name="assigned_to" class="form-control" placeholder="ASSIGNED" ng-model="update.assigned_to">
                    <option value="None">None</option>
                    <option value="Ashley">Ashley</option>
                    <option value="Brenda">Brenda</option>
                    <option value="Isaac" selected>Isaac</option>
                    <option value="Jeff">Jeff</option>
                    <option value="Nancy">Nancy</option>
                    <option value="Rhan">Rhan</option>
                    <option value="Ryan">Ryan</option>
                    <option value="Sonny">Sonny</option>
                    <option value="Tim">Tim</option>
                </select>
            </form-element>

            <form-element label="FILE" mod="update">
                <!-- <input type="file" name="file_upload" class="form-control" ng-model="update.file_upload" id="sortpicture" app-filereader/> -->
                <input type="file" ngf-select ng-model="update.picFile" name="file" accept="image/*" ngf-max-size="2MB">
            </form-element>

            <form-element label="HIGH TAIL LINK" mod="update">
                <input type="text" name="high_tail" class="form-control" placeholder="HIGH TAIL LINK" ng-model="update.high_tail"/>
            </form-element>

            <form-element label="HIGH TAIL FOLDER" mod="update">
                <input type="text" name="high_tail_folder" class="form-control" placeholder="HIGH TAIL FOLDER" ng-model="update.high_tail_folder"/>
            </form-element>

            <div class="space"></div>
            <div class="space-4"></div>
            <div class="modal-footer">
                <form-element label="">
                    <div class="text-right">
                        <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                        <button ng-click="saveRequest(update, picFile);"
                                ng-disabled="update_form.$invalid || enableUpdate"
                                class="btn btn-sm btn-primary"
                                type="submit">
                            <i class="ace-icon fa fa-check"></i>{{buttonText}}
                        </button>
                    </div>
                </form-element>
            </div>
        </form>
    </div>

