<div ng-show="updates.length<0" class="overlay">
    <div>
        <div class="loading">Loading</div>
        <div class="circ1"></div>
        <div class="circ2"></div>
        <div class="circ3"></div>
        <div class="circ4"></div>
    </div>
</div> 

<header>

    <div class="logo"></div>
    <nav>
        <div class="nav-search" id="nav-search">
            <label for="search" class="search-icon fa fa-search nav-search-icon"></label>
            <input id="search" placeholder="Filter updates list ..." class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="on" type="text">
        </div>
        <button type="button" class="btn fa fa-plus" ng-click="open(update);"></button>    
    </nav>

</header>

  <div>
    <article class="main">
        <aside>
            <div ng-show="updates.length==0"><i class="fa fa-ban fa-3x"></i><span>&nbsp;No data found</span></div>    
        </aside>

        <section ng-repeat="c in updates | filter:filterProduct | orderBy:['-complete' , 'date_requested']" ng-class="{0:'complete', 1:'pending'}[c.complete]" id="update{{$index}}" ng-animate ng-enter>

            <div ng-show="c.complete === 0" class="topz">
                <button class="btn full-width alt-red-hover" ng-class="{0:'btn-success', 1:'btn-warning'}[c.complete]" ng-click="changeProductStatus(c,true);" warntoggle undotoggle>{{c.complete === 1 ? "incomplete" : "complete"}}</button>
                <button class="info-toggle btn btn-default fa fa-expand" toggle><span>view info</span></button>            
            </div>

            <div class="site-info" hideone>
                <div class="nd">
                    <div class="client">{{c.client_name}}</div>
                    <div class="date">{{c.date_requested | dateToISO  | date:'medium'}}</div>       
                    <div class="btn-group">
                        <button class="btn status fa" ng-class="{0:'btn-success fa-check-square-o', 1:'btn-warning fa-exclamation'}[c.complete]" ng-click="changeProductStatus(c,true);" warntoggle><span>{{c.complete === 1 ? "incomplete" : "complete"}}</span></button>

                        <button class="btn status fa" ng-class="{0:'btn-danger fa-gear', 1:'btn-success fa-gears'}[c.working]" ng-click="changeProductStatus(c,false);" warntoggle><span>{{c.working === 1 ? "in progress" : "static"}}</span></button>

                        <button class="btn-default status fa fa-comment-o" ng-click="storeComments(c.id, true);"><span>view comments</span></button>

                        <!-- <button class="btn status fa fa-plus" ng-click="addComment(c.id);"><span>add comments</span></button> -->

                        <a class="btn btn-default fa fa-external-link" href="http://{{c.client_website.replace('http://', '')}}" target="_blank"><span>link</span></a>
                        
                        <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"><span>edit</span></button>
                        <!-- <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteProduct(c);"><span>delete</span></button> -->
                        <button ng-hide="c.complete === 0" class="info-toggle btn btn-default fa fa-expand" toggle><span>view info</span></button>
                    </div>
                </div>
                <div class="site">
                    <div class="assign-info">
                        <div class="assigned">
                            <h5>assigned to</h5>
                            <span>{{c.assigned_to}}</span>
                        </div>
                        <div class="requested">
                            <h5>requested by</h5>
                            <span>{{c.requested_by}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <article>
                <div class="descript">
                    <aside ng-class="{'two': c.file_upload.length > 0 || (c.high_tail_folder.length > 0 && c.high_tail.length > 0), 'three' : (c.file_upload.length > 0 && c.high_tail_folder.length > 0) || (c.file_upload.length > 0 && c.high_tail.length > 0), 'four' : c.file_upload.length > 0 && (c.high_tail_folder.length > 0 && c.high_tail.length > 0)}">
                        <div ng-show="{{c.file_upload.length > 0}}" class="button" style="background: url({{c.file_upload}}) center center no-repeat;"><a ng-href="{{c.file_upload}}" download="updates-{{c.client_name.split(' ').join('');}}.png">Download File</a></div>
                        <div ng-show="{{c.file_upload.length > 0}}" class="button" style="background: url({{c.file_upload}}) center center no-repeat;"><a ng-href="{{c.file_upload}}" target="_blank">View File</a></div>

                        <div ng-show="{{c.file_path.length > 0}}" class="button"><a ng-href="uploads/{{c.file_path}}" target="_blank">View File</a></div>

                        <div ng-show="{{c.high_tail.length > 0}}" class="button"><a ng-href="{{c.high_tail}}" target="_blank">Get files from hightail</a></div>
                        <div ng-show="{{c.high_tail_folder.length > 0}}" class="button">{{c.high_tail_folder}}</div>
                    </aside>                    
                    <pre>{{c.description}}</pre>
                </div>
            </article>

        </section>

    </article>

</div>

</div>
              