/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/screen.scss */
html {
  font-size: 12px;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* line 27, ../sass/screen.scss */
body {
  font-family: "Oswald", sans-serif;
  padding-bottom: 60px;
}

/* line 32, ../sass/screen.scss */
.fa-times {
  background-color: #fec40d !important;
  border: none !important;
}
/* line 35, ../sass/screen.scss */
.fa-times span {
  background-color: inherit !important;
}
/* line 38, ../sass/screen.scss */
.fa-times.open {
  color: #5f6062 !important;
}

/* line 43, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../sass/screen.scss */
::-moz-selection {
  background: #fec40d;
  color: #5f6062;
}

/* line 50, ../sass/screen.scss */
::selection {
  background: #fec40d;
  color: #5f6062;
}

/* ng-cloak */
/* line 55, ../sass/screen.scss */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
  display: none;
}

/* line 58, ../sass/screen.scss */
.full-width {
  width: 100%;
}

/* line 61, ../sass/screen.scss */
.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

/* line 65, ../sass/screen.scss */
.navbar {
  margin-bottom: 0;
}

/* line 68, ../sass/screen.scss */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  margin-top: 10px;
}

/* line 71, ../sass/screen.scss */
.nav > li > a.btn:hover {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}

/* line 76, ../sass/screen.scss */
.modal-content {
  border-radius: 0;
}

/* line 79, ../sass/screen.scss */
.modal-add {
  color: #fec40d;
  cursor: pointer;
  font-size: 18px;
  left: 0;
  letter-spacing: 1px;
  line-height: 48px;
  padding: 0 7.5px;
  position: absolute;
  top: 0;
}
/* line 89, ../sass/screen.scss */
.modal-add:hover {
  color: #fff;
}

/* line 95, ../sass/screen.scss */
button {
  border-radius: 0 !important;
}

/* line 99, ../sass/screen.scss */
.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Nav links */
/* line 106, ../sass/screen.scss */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}

/* line 113, ../sass/screen.scss */
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
/* line 120, ../sass/screen.scss */
.blog-nav .active {
  color: #fff;
}

/* line 123, ../sass/screen.scss */
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* line 138, ../sass/screen.scss */
.alt-red-hover:hover {
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  transition: background-color 0.25s;
  background-color: #fec40d !important;
}

/*
 * Blog name and description
 */
/* line 147, ../sass/screen.scss */
.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 151, ../sass/screen.scss */
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: normal;
}

/* line 156, ../sass/screen.scss */
.blog-description {
  font-size: 20px;
  color: #999;
}

/*
 * Blog posts
 */
/* line 165, ../sass/screen.scss */
.logos {
  background-color: #696969;
  text-align: center;
}
/* line 168, ../sass/screen.scss */
.logos a {
  display: inline-block;
  opacity: 0.75;
  padding: 10px;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  vertical-align: middle;
}
/* line 174, ../sass/screen.scss */
.logos a:hover {
  opacity: 1;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}
/* line 178, ../sass/screen.scss */
.logos a img {
  max-height: 35px;
}

/* line 184, ../sass/screen.scss */
header {
  background-color: #ECECEC;
  border-bottom: 2px solid #fec40d;
  text-align: right;
}
/* line 188, ../sass/screen.scss */
header .logo {
  background: url(../hrwlogoup.png) left center no-repeat;
  background-size: contain;
  display: inline-block;
  height: 50px;
  margin: 5px 0;
  vertical-align: top;
  width: 40%;
}
@media all and (max-width: 750px) {
  /* line 188, ../sass/screen.scss */
  header .logo {
    background: url(../hrwlogoup.png) center center no-repeat;
    background-size: contain;
    width: 100%;
  }
}
/* line 202, ../sass/screen.scss */
header button {
  background-color: #5f6062;
  color: #fec40d;
  display: inline-block;
  font-size: 1.5rem !important;
  height: 60px;
  margin-left: -3px;
  outline: none;
  -moz-transition: font-size 0.25s, background-color 0.5s;
  -o-transition: font-size 0.25s, background-color 0.5s;
  -webkit-transition: font-size 0.25s, background-color 0.5s;
  transition: font-size 0.25s, background-color 0.5s;
  vertical-align: top;
  width: 60px;
}
/* line 213, ../sass/screen.scss */
header button:hover, header button:focus {
  background-color: #515254;
  color: #fec40d !important;
  font-size: 2rem !important;
  outline: none;
  -moz-transition: font-size 0.25s, background-color 0.5s;
  -o-transition: font-size 0.25s, background-color 0.5s;
  -webkit-transition: font-size 0.25s, background-color 0.5s;
  transition: font-size 0.25s, background-color 0.5s;
}
/* line 221, ../sass/screen.scss */
header nav {
  display: inline-block;
  vertical-align: top;
  width: 55%;
}
@media all and (max-width: 750px) {
  /* line 221, ../sass/screen.scss */
  header nav {
    width: 100%;
  }
}
/* line 229, ../sass/screen.scss */
header .nav-search {
  display: inline-block;
  height: 60px;
  vertical-align: top;
  width: 80%;
}
/* line 234, ../sass/screen.scss */
header .nav-search label {
  background-color: #ddd;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem !important;
  height: 60px;
  line-height: 60px;
  margin-right: -4px;
  text-align: center;
  -moz-transition: font-size 0.25s, background-color 0.5s;
  -o-transition: font-size 0.25s, background-color 0.5s;
  -webkit-transition: font-size 0.25s, background-color 0.5s;
  transition: font-size 0.25s, background-color 0.5s;
  vertical-align: top;
  width: 60px;
}
/* line 246, ../sass/screen.scss */
header .nav-search label:hover {
  background-color: #ccc;
  font-size: 2rem !important;
  -moz-transition: font-size 0.25s, background-color 0.5s;
  -o-transition: font-size 0.25s, background-color 0.5s;
  -webkit-transition: font-size 0.25s, background-color 0.5s;
  transition: font-size 0.25s, background-color 0.5s;
}
/* line 250, ../sass/screen.scss */
header .nav-search label:hover + input {
  background-color: #ccc;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 256, ../sass/screen.scss */
header .nav-search input {
  background-color: #ddd;
  border: none;
  display: inline-block;
  height: 60px;
  margin-bottom: 2px;
  outline: none;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 0%;
}
/* line 265, ../sass/screen.scss */
header .nav-search input:focus {
  padding: 10px;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
  width: 80%;
}

/* line 275, ../sass/screen.scss */
.form-group label {
  font-size: 0.75rem;
}
/* line 278, ../sass/screen.scss */
.form-group .form-control {
  border-radius: 0 !important;
}
/* line 280, ../sass/screen.scss */
.form-group .form-control:focus {
  border-color: #fec40d;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(254, 196, 13, 0.75), 0 0 8px rgba(254, 196, 13, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(254, 196, 13, 0.75), 0 0 8px rgba(254, 196, 13, 0.6);
  box-shadow: inset 0 1px 1px rgba(254, 196, 13, 0.75), 0 0 8px rgba(254, 196, 13, 0.6);
}

/* line 289, ../sass/screen.scss */
.topz .info-toggle {
  width: 100% !important;
}
/* line 291, ../sass/screen.scss */
.topz .info-toggle:before {
  padding: 0 20px;
  margin-left: -40px;
}

/* line 298, ../sass/screen.scss */
.modal-header {
  background-color: #5f6062;
}
/* line 300, ../sass/screen.scss */
.modal-header h3 {
  color: #fec40d;
  text-align: center;
}

/* line 305, ../sass/screen.scss */
.close {
  opacity: 0.9;
  outline: none;
  padding: 15px !important;
  text-shadow: none !important;
}
/* line 310, ../sass/screen.scss */
.close i {
  color: #fec40d;
}

/* line 315, ../sass/screen.scss */
article.main {
  border-top: 2px solid #3e3831;
}
/* line 319, ../sass/screen.scss */
article.main > aside {
  text-align: center;
}
/* line 321, ../sass/screen.scss */
article.main > aside div {
  padding: 45px;
}
/* line 324, ../sass/screen.scss */
article.main > aside i {
  color: #fec40d;
}
/* line 327, ../sass/screen.scss */
article.main > aside span {
  color: #5f6062;
}
/* line 330, ../sass/screen.scss */
article.main > aside span, article.main > aside i {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}
/* line 338, ../sass/screen.scss */
article.main section {
  border-bottom: 4px solid #D7D7D7;
  border-top: 2px solid #3e3831;
  text-align: center;
}
/* line 339, ../sass/screen.scss */
article.main section:nth-child(even) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+PHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(35%, rgba(255, 255, 255, 0.25)));
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25) 35%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25) 35%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25) 35%);
}
/* line 342, ../sass/screen.scss */
article.main section:nth-child(odd) {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiNhYWFhYWEiIHN0b3Atb3BhY2l0eT0iMC4zNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(170, 170, 170, 0.25)), color-stop(35%, rgba(170, 170, 170, 0.35)));
  background-image: -moz-linear-gradient(left, rgba(170, 170, 170, 0.25), rgba(170, 170, 170, 0.35) 35%);
  background-image: -webkit-linear-gradient(left, rgba(170, 170, 170, 0.25), rgba(170, 170, 170, 0.35) 35%);
  background-image: linear-gradient(to right, rgba(170, 170, 170, 0.25), rgba(170, 170, 170, 0.35) 35%);
}
/* line 349, ../sass/screen.scss */
article.main section.pending {
  background-color: #FFECEC;
}
/* line 352, ../sass/screen.scss */
article.main section.complete {
  background-color: #EEFFF1;
  opacity: 0.85;
  position: relative;
}
/* line 356, ../sass/screen.scss */
article.main section.complete:hover {
  background-color: #CCFFD6;
  opacity: 0.95;
}
/* line 362, ../sass/screen.scss */
article.main section .btn-group {
  position: absolute;
  left: 0;
  bottom: 5px;
  padding: 0 3%;
  width: 35% !important;
}
@media all and (max-width: 575px) {
  /* line 362, ../sass/screen.scss */
  article.main section .btn-group {
    width: 100%;
  }
}
/* line 369, ../sass/screen.scss */
article.main section .btn-group button, article.main section .btn-group a {
  border: 0 !important;
  border-radius: 100% !important;
  display: inline-block;
  float: none !important;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 5px;
  outline: none !important;
  overflow: visible;
  padding: 0 !important;
  position: relative;
  width: 2.5rem;
  z-index: 100;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 386, ../sass/screen.scss */
article.main section .btn-group button:not(:hover), article.main section .btn-group a:not(:hover) {
  background-color: transparent;
  border: 1px solid #5f6062 !important;
  color: #5f6062;
}
/* line 391, ../sass/screen.scss */
article.main section .btn-group button span, article.main section .btn-group a span {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
  color: transparent;
  display: block;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 0px;
}
/* line 403, ../sass/screen.scss */
article.main section .btn-group button:hover, article.main section .btn-group a:hover {
  border-radius: 0 !important;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
/* line 406, ../sass/screen.scss */
article.main section .btn-group button:hover span, article.main section .btn-group a:hover span {
  background-color: inherit;
  border-radius: 0;
  color: #fff;
  opacity: 1;
  padding: 10px;
  -moz-transition: opacity 0.25s, margin-left 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, margin-left 0.25s, width 0.25s;
  -webkit-transition: opacity 0.25s, margin-left 0.25s, width 0.25s;
  transition: opacity 0.25s, margin-left 0.25s, width 0.25s;
  margin-left: -62.5px;
  width: 125px;
}
/* line 420, ../sass/screen.scss */
article.main section .site-info {
  position: relative;
  width: 100%;
}
/* line 423, ../sass/screen.scss */
article.main section .site-info .nd {
  padding: 10px 3% 3rem;
  min-height: 7.5rem;
  text-align: right;
  vertical-align: middle;
  width: 35%;
}
@media all and (max-width: 575px) {
  /* line 423, ../sass/screen.scss */
  article.main section .site-info .nd {
    width: 100%;
  }
}
@media all and (max-width: 575px) {
  /* line 423, ../sass/screen.scss */
  article.main section .site-info .nd {
    padding: 20px 3%;
    text-align: center;
  }
}
/* line 434, ../sass/screen.scss */
article.main section .site-info .nd div {
  width: 100%;
}
/* line 437, ../sass/screen.scss */
article.main section .site-info .nd .client {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
/* line 442, ../sass/screen.scss */
article.main section .site-info .nd .date {
  color: #696969;
  font-size: 0.6rem;
  font-weight: 300;
  letter-spacing: 2px;
}
/* line 449, ../sass/screen.scss */
article.main section .site-info .site {
  margin-left: -6px;
  vertical-align: middle;
  width: 65%;
}
@media all and (max-width: 575px) {
  /* line 449, ../sass/screen.scss */
  article.main section .site-info .site {
    width: 100%;
  }
}
/* line 455, ../sass/screen.scss */
article.main section .site-info .site a {
  color: #3C3E41;
  display: block;
  font-family: 'Open Sans';
  letter-spacing: 5px;
  padding: 10px;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  width: 100%;
}
/* line 464, ../sass/screen.scss */
article.main section .site-info .site a:hover, article.main section .site-info .site a:focus {
  color: #5f6062;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYzQwZCIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+PHN0b3Agb2Zmc2V0PSIyNSUiIHN0b3AtY29sb3I9IiNmZWM0MGQiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZlYzQwZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlYzQwZCIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(254, 196, 13, 0.85)), color-stop(25%, #fec40d), color-stop(75%, #fec40d), color-stop(100%, rgba(254, 196, 13, 0.85)));
  background-image: -moz-linear-gradient(left, rgba(254, 196, 13, 0.85), #fec40d 25%, #fec40d 75%, rgba(254, 196, 13, 0.85));
  background-image: -webkit-linear-gradient(left, rgba(254, 196, 13, 0.85), #fec40d 25%, #fec40d 75%, rgba(254, 196, 13, 0.85));
  background-image: linear-gradient(to right, rgba(254, 196, 13, 0.85), #fec40d 25%, #fec40d 75%, rgba(254, 196, 13, 0.85));
  text-decoration: none;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
/* line 472, ../sass/screen.scss */
article.main section .site-info div {
  display: inline-block;
}
/* line 477, ../sass/screen.scss */
article.main section .assign-info {
  padding: 1rem 0;
  width: 100%;
}
/* line 480, ../sass/screen.scss */
article.main section .assign-info div {
  display: inline-block;
  padding: 10px;
  width: 45%;
}
/* line 484, ../sass/screen.scss */
article.main section .assign-info div h5 {
  color: #0c0900;
  font-size: 0.75rem;
  letter-spacing: 5px;
  margin-bottom: 7.5px;
  text-transform: uppercase;
}
/* line 491, ../sass/screen.scss */
article.main section .assign-info div span {
  color: #5f6062;
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 1.5rem;
  letter-spacing: 1px;
}
/* line 501, ../sass/screen.scss */
article.main section article {
  width: 100%;
}
/* line 503, ../sass/screen.scss */
article.main section article h4 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNlMzgzMSIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIzNSUiIHN0b3AtY29sb3I9IiMzZTM4MzEiLz48c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iIzNlMzgzMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNlMzgzMSIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(62, 56, 49, 0.75)), color-stop(35%, #3e3831), color-stop(65%, #3e3831), color-stop(100%, rgba(62, 56, 49, 0.75)));
  background-image: -moz-linear-gradient(left, rgba(62, 56, 49, 0.75), #3e3831 35%, #3e3831 65%, rgba(62, 56, 49, 0.75));
  background-image: -webkit-linear-gradient(left, rgba(62, 56, 49, 0.75), #3e3831 35%, #3e3831 65%, rgba(62, 56, 49, 0.75));
  background-image: linear-gradient(to right, rgba(62, 56, 49, 0.75), #3e3831 35%, #3e3831 65%, rgba(62, 56, 49, 0.75));
  color: #fff;
  cursor: pointer;
  font-size: 0.75rem;
  letter-spacing: 10px;
  line-height: 2;
  padding: 10px;
  text-transform: uppercase;
  -moz-transition: background-image 1s;
  -o-transition: background-image 1s;
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
  width: 100%;
}
/* line 514, ../sass/screen.scss */
article.main section article h4:hover {
  -moz-transition: background-image 1s;
  -o-transition: background-image 1s;
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNlMzgzMSIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiMzZTM4MzEiLz48c3RvcCBvZmZzZXQ9Ijg1JSIgc3RvcC1jb2xvcj0iIzNlMzgzMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNlMzgzMSIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(62, 56, 49, 0.75)), color-stop(15%, #3e3831), color-stop(85%, #3e3831), color-stop(100%, rgba(62, 56, 49, 0.75)));
  background-image: -moz-linear-gradient(left, rgba(62, 56, 49, 0.75), #3e3831 15%, #3e3831 85%, rgba(62, 56, 49, 0.75));
  background-image: -webkit-linear-gradient(left, rgba(62, 56, 49, 0.75), #3e3831 15%, #3e3831 85%, rgba(62, 56, 49, 0.75));
  background-image: linear-gradient(to right, rgba(62, 56, 49, 0.75), #3e3831 15%, #3e3831 85%, rgba(62, 56, 49, 0.75));
}
/* line 519, ../sass/screen.scss */
article.main section article .open {
  background-color: #D6D6D6;
  color: #fec40d;
}
/* line 523, ../sass/screen.scss */
article.main section article .descript {
  border-bottom: 2px solid #fec40d;
  display: none;
}
/* line 526, ../sass/screen.scss */
article.main section article .descript pre {
  background-color: #fff;
  font-family: 'Open Sans';
  margin: 0 12.5% 40px;
  padding: 40px;
}
/* line 532, ../sass/screen.scss */
article.main section article .descript aside {
  margin: 40px 12.5% 0;
}
/* line 535, ../sass/screen.scss */
article.main section article .descript aside.two .button {
  width: 50%;
}
/* line 540, ../sass/screen.scss */
article.main section article .descript aside.three .button {
  width: 33.333333%;
}
/* line 545, ../sass/screen.scss */
article.main section article .descript aside.four .button {
  width: 25%;
}
/* line 551, ../sass/screen.scss */
article.main section article .descript div.button {
  display: inline-block;
  margin-left: -3px;
  vertical-align: middle;
}
@media all and (max-width: 750px) {
  /* line 551, ../sass/screen.scss */
  article.main section article .descript div.button {
    width: 100%;
  }
  /* line 557, ../sass/screen.scss */
  article.main section article .descript div.button:not(:last-child) {
    border-bottom: 1px solid #fec40d;
  }
}
/* line 562, ../sass/screen.scss */
article.main section article .descript div a {
  background-color: rgba(95, 96, 98, 0.85);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNlMzgzMSIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjE1JSIgc3RvcC1jb2xvcj0iIzVmNjA2MiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+PHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiM1ZjYwNjIiIHN0b3Atb3BhY2l0eT0iMC43NSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNlMzgzMSIgc3RvcC1vcGFjaXR5PSIwLjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(62, 56, 49, 0.5)), color-stop(15%, rgba(95, 96, 98, 0.75)), color-stop(85%, rgba(95, 96, 98, 0.75)), color-stop(100%, rgba(62, 56, 49, 0.5)));
  background-image: -moz-linear-gradient(left, rgba(62, 56, 49, 0.5), rgba(95, 96, 98, 0.75) 15%, rgba(95, 96, 98, 0.75) 85%, rgba(62, 56, 49, 0.5));
  background-image: -webkit-linear-gradient(left, rgba(62, 56, 49, 0.5), rgba(95, 96, 98, 0.75) 15%, rgba(95, 96, 98, 0.75) 85%, rgba(62, 56, 49, 0.5));
  background-image: linear-gradient(to right, rgba(62, 56, 49, 0.5), rgba(95, 96, 98, 0.75) 15%, rgba(95, 96, 98, 0.75) 85%, rgba(62, 56, 49, 0.5));
  background-size: cover;
  color: #fec40d;
  display: block;
  font-family: 'Open Sans';
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
}
/* line 576, ../sass/screen.scss */
article.main section article .descript div a:hover {
  background-color: rgba(95, 96, 98, 0.95);
  font-size: 1.25rem;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 590, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 594, ../sass/screen.scss */
.overlay {
  display: block;
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: #fff !important;
  text-align: center !important;
  width: 100% !important;
  height: 100vh !important;
  z-index: 100 !important;
}
/* line 606, ../sass/screen.scss */
.overlay div {
  display: inline-block !important;
}
/* line 609, ../sass/screen.scss */
.overlay div[class^='circ'], .overlay div[class*=' circ'] {
  border-radius: 100%;
  height: 4rem;
  position: fixed;
  width: 4rem;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* line 621, ../sass/screen.scss */
.overlay div.circ1 {
  left: 5%;
  top: 5%;
  -webkit-animation-name: circone;
  animation-name: circone;
}
/* line 627, ../sass/screen.scss */
.overlay div.circ2 {
  right: 5%;
  top: 5%;
  -webkit-animation-name: circtwo;
  animation-name: circtwo;
}
/* line 633, ../sass/screen.scss */
.overlay div.circ3 {
  right: 5%;
  bottom: 5%;
  -webkit-animation-name: circthree;
  animation-name: circthree;
}
/* line 639, ../sass/screen.scss */
.overlay div.circ4 {
  left: 5%;
  bottom: 5%;
  -webkit-animation-name: circfour;
  animation-name: circfour;
}
/* line 645, ../sass/screen.scss */
.overlay .loading {
  font-size: 6rem;
  text-transform: uppercase;
  vertical-align: middle;
  width: 90%;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: loader;
  animation-name: loader;
}
/* line 659, ../sass/screen.scss */
.overlay:before {
  content: '';
  width: 0.1%;
  display: inline-block;
  vertical-align: middle;
  height: 100vh;
}

/***************************
  Comments
***************************/
/* line 674, ../sass/screen.scss */
.comments li {
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
  padding: 5px 10px;
}

/* line 679, ../sass/screen.scss */
.comments li h3 {
  font-size: 30px;
  text-transform: uppercase;
}

/* line 683, ../sass/screen.scss */
.comments li time {
  color: #828282;
  font-size: 10px;
  letter-spacing: 1px;
}

/* line 688, ../sass/screen.scss */
.comments li div {
  color: #000;
  font-family: 'Open Sans';
  font-size: 18px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 20px;
}

@-webkit-keyframes loader {
  0% {
    font-size: 6rem;
  }
  50% {
    font-size: 4rem;
  }
  100% {
    font-size: 6rem;
  }
}
@keyframes loader {
  0% {
    font-size: 6rem;
  }
  50% {
    font-size: 4rem;
  }
  100% {
    font-size: 6rem;
  }
}
@-webkit-keyframes circone {
  0% {
    background-color: #E1505A;
    opacity: 1;
  }
  14% {
    background-color: #F27735;
    opacity: 0.5;
  }
  28% {
    background-color: #FFEE00;
    opacity: 0.7;
  }
  42% {
    background-color: #00FF00;
    opacity: 0.1;
  }
  56% {
    background-color: #00A6FF;
    opacity: 1;
  }
  71% {
    background-color: #0D00FF;
    opacity: 0.5;
  }
  84% {
    background-color: #9900FF;
    opacity: 0.7;
  }
}
@keyframes circone {
  0% {
    background-color: #E1505A;
    opacity: 1;
  }
  14% {
    background-color: #F27735;
    opacity: 0.5;
  }
  28% {
    background-color: #FFEE00;
    opacity: 0.7;
  }
  42% {
    background-color: #00FF00;
    opacity: 0.1;
  }
  56% {
    background-color: #00A6FF;
    opacity: 1;
  }
  71% {
    background-color: #0D00FF;
    opacity: 0.5;
  }
  84% {
    background-color: #9900FF;
    opacity: 0.7;
  }
}
@-webkit-keyframes circtwo {
  0% {
    background-color: #FFEE00;
    opacity: 0.7;
  }
  14% {
    background-color: #00FF00;
    opacity: 0.1;
  }
  28% {
    background-color: #00A6FF;
    opacity: 1;
  }
  42% {
    background-color: #0D00FF;
    opacity: 0.5;
  }
  56% {
    background-color: #9900FF;
    opacity: 0.7;
  }
  71% {
    background-color: #E1505A;
    opacity: 1;
  }
  84% {
    background-color: #F27735;
    opacity: 0.5;
  }
}
@keyframes circtwo {
  0% {
    background-color: #FFEE00;
    opacity: 0.7;
  }
  14% {
    background-color: #00FF00;
    opacity: 0.1;
  }
  28% {
    background-color: #00A6FF;
    opacity: 1;
  }
  42% {
    background-color: #0D00FF;
    opacity: 0.5;
  }
  56% {
    background-color: #9900FF;
    opacity: 0.7;
  }
  71% {
    background-color: #E1505A;
    opacity: 1;
  }
  84% {
    background-color: #F27735;
    opacity: 0.5;
  }
}
@-webkit-keyframes circthree {
  0% {
    background-color: #00A6FF;
    opacity: 1;
  }
  14% {
    background-color: #0D00FF;
    opacity: 0.5;
  }
  28% {
    background-color: #9900FF;
    opacity: 0.7;
  }
  42% {
    background-color: #E1505A;
    opacity: 1;
  }
  56% {
    background-color: #F27735;
    opacity: 0.5;
  }
  71% {
    background-color: #FFEE00;
    opacity: 0.7;
  }
  85% {
    background-color: #00FF00;
    opacity: 0.1;
  }
}
@keyframes circthree {
  0% {
    background-color: #00A6FF;
    opacity: 1;
  }
  14% {
    background-color: #0D00FF;
    opacity: 0.5;
  }
  28% {
    background-color: #9900FF;
    opacity: 0.7;
  }
  42% {
    background-color: #E1505A;
    opacity: 1;
  }
  56% {
    background-color: #F27735;
    opacity: 0.5;
  }
  71% {
    background-color: #FFEE00;
    opacity: 0.7;
  }
  85% {
    background-color: #00FF00;
    opacity: 0.1;
  }
}
@-webkit-keyframes circfour {
  0% {
    background-color: #9900FF;
    opacity: 0.7;
  }
  14% {
    background-color: #E1505A;
    opacity: 1;
  }
  28% {
    background-color: #F27735;
    opacity: 0.5;
  }
  42% {
    background-color: #FFEE00;
    opacity: 0.7;
  }
  56% {
    background-color: #00FF00;
    opacity: 0.1;
  }
  71% {
    background-color: #00A6FF;
    opacity: 1;
  }
  84% {
    background-color: #0D00FF;
    opacity: 0.5;
  }
}
@keyframes circfour {
  0% {
    background-color: #9900FF;
    opacity: 0.7;
  }
  14% {
    background-color: #E1505A;
    opacity: 1;
  }
  28% {
    background-color: #F27735;
    opacity: 0.5;
  }
  42% {
    background-color: #FFEE00;
    opacity: 0.7;
  }
  56% {
    background-color: #00FF00;
    opacity: 0.1;
  }
  71% {
    background-color: #00A6FF;
    opacity: 1;
  }
  84% {
    background-color: #0D00FF;
    opacity: 0.5;
  }
}
